{% extends "layout.jinja2" %}
{% block body %}
    <form>
        <h3>Title:</h3>
        <input type="text" id="entryTitle" placeholder="Enter Title Here...">
        <h3>Body:</h3>
        <textarea id="entryBody" placeholder="Enter Body Here...""></textarea>
        <input type="submit" id="submitButton">
    </form>
{% endblock %}