<!DOCTYPE html>
<!-- MAIN PAGE -->
<html>
    <head>
        <title>Ted's Learning Journal</title>
        <meta charset-"UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ request.static_path('learning_journal:static/reset.css') }}">
        <link rel="stylesheet" href="{{ request.static_path('learning_journal:static/base.css') }}">
        <link rel="stylesheet" href="{{ request.static_path('learning_journal:static/layout.css') }}">
        <link rel="stylesheet" href="{{ request.static_path('learning_journal:static/module.css') }}">
        
    </head>
    <body>
    <header>
        <a href="{{ request.route_url('home') }}">Home</a>
        {% if request.authenticated_userid %}
          <a href="{{ request.route_url('create') }}">New Entry</a>
          <a href="{{ request.route_url('logout') }}">Logout</a>
        {% else %}
          <a href="{{ request.route_url('login') }}">Login</a>
        {% endif %}
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/927692b4ce.js"></script>
    </body>
</html>