{% extends "layout.jinja2" %}
{% block body %}
<div id="entryListWrapper">
    <ul>
        {% if  entries %}
            {% for entry in entries|reverse %}
                <li class="entryListItem">
                    <h3><a href="{{ request.route_url('detail', id=entry.id) }}">{{ entry.title }}</a></h3>
                    <p class="date">Created {{ entry.creation_date }}></p>
                    <hr />
                </li>
            {% endfor %}
        {% else %}
            <p>This Journal is Empty. =(</p>
        {% endif %}
    </ul>
</div>
{% endblock %}